body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif !important;
}

#titleHeader {
    text-align: center;
}

.timer-container {
    text-align: center;
}

.progress-ring {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

.progress {
    width: 200px;
    height: 200px;
}

.progress-bar {
    fill: transparent;
    stroke: #800080;
    stroke-width: 10;
    stroke-dasharray: 565.48;
    /* Circumference of the circle (2 * π * r) */
    stroke-dashoffset: 0;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    transition: stroke-dashoffset 1s linear;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 24px;
    color: #333;
}



.buttons button {
    margin: 30px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #ffffff;
    color: #800080;
    box-shadow: 0px 2px #c2bebe;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

#timer-text {
    font-size: 28px;
}

#cleansing {
    text-align: left;
    display: flex;
    flex-direction: column;
    background-color: #f0ecf1;
    padding: 30px;
    border-radius: 10px;
    width: 30vw;
}

.bold {
    font-weight: bold;
    font-size: larger;
}

#cleansingBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

#CleansingTime {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}

#CleansingTime>a {
    text-decoration: none;
}

#cleansingBox>div>h4 {
    margin: 0px;
}